$palette: (
  white: #ffffff,
  black: #000000,
  black-2: #141414,
  black-3: #1e1e1e,
  yellow: #f7a626,
  gray: #8d8d8d,
  gray-2: #454545,
  gray-3: #f2f2f2,
  gray-4: #c5c5c5,
  gray-5: #636b75,
  green: #4b7448,
  green-2: #389e0d,
  red: #e60000,
);
