@use "../base" as *;
@use "../utils" as *;

.button {
  $r: &;
  @include body-bold;
  position: relative;
  text-decoration: none;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-green);
  height: 51px;
  cursor: pointer;
  background: var(--clr-yellow);
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
  border: 1px solid var(--clr-yellow);
  gap: 10px;
  padding: 13px 32px;
  border-radius: 100px;

  &__icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    path {
      transition: fill 0.3s ease-in-out;
    }
  }

  &:hover {
    background-color: var(--clr-black-2);
    color: var(--clr-white);
    border-color: var(--clr-black-2);
  }

  &--green {
    color: var(--clr-white);
    background-color: var(--clr-green);
    border: 1px solid var(--clr-green);

    &:hover {
      background-color: var(--clr-black-2);
      color: var(--clr-white);
      border-color: var(--clr-black-2);
    }
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
